apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: prepend-registry-proxy
  annotations:
    policies.kyverno.io/title: "Prepend proxy registry to images"
    pod-policies.kyverno.io/autogen-controllers: "DaemonSet,Deployment,StatefulSet,Job,CronJob"
spec:
  background: false
  failurePolicy: Fail
  validationFailureAction: Enforce
  rules:
    - name: prepend-for-all-containers
      match:
        any:
          - resources:
              kinds:
                - Pod
                - DaemonSet
                - Deployment
                - StatefulSet
                - Job
                - CronJob
                - ReplicaSet
                - ReplicationController
              namespaces:
                - "*"
      exclude:
        any:
          - resources:
              namespaces:
                - kyverno
{% raw %}
      preconditions:
        all:
          - key: "{{ request.operation }}"
            operator: AnyIn
            value: ["CREATE", "UPDATE"]
      mutate:
        foreach:
          # =========================
          # Containers
          # =========================
          # Cas 1: Images sans registry (ex: nginx:latest)
          - list: "request.object.spec.containers || []"
            preconditions:
              all:
                - key: "{{ contains(element.image, '192.168.200.1:8000/') }}"
                  operator: Equals
                  value: false
                - key: "{{ contains(element.image, '/') }}"
                  operator: Equals
                  value: false
            patchStrategicMerge:
              spec:
                containers:
                  - (name): "{{ element.name }}"
                    image: "192.168.200.1:8000/docker.io/{{ element.image }}"
          # Cas 2: Images avec registry (ex: example.com/nginx:latest)
          - list: "request.object.spec.containers || []"
            preconditions:
              all:
                - key: "{{ contains(element.image, '192.168.200.1:8000/') }}"
                  operator: Equals
                  value: false
                - key: "{{ contains(element.image, '/') }}"
                  operator: Equals
                  value: true
            patchStrategicMerge:
              spec:
                containers:
                  - (name): "{{ element.name }}"
                    image: "192.168.200.1:8000/{{ element.image }}"
          # =========================
          # Init Containers
          # =========================
          # Cas 1: Images sans registry
          - list: "request.object.spec.initContainers || []"
            preconditions:
              all:
                - key: "{{ contains(element.image, '192.168.200.1:8000/') }}"
                  operator: Equals
                  value: false
                - key: "{{ contains(element.image, '/') }}"
                  operator: Equals
                  value: false
            patchStrategicMerge:
              spec:
                initContainers:
                  - (name): "{{ element.name }}"
                    image: "192.168.200.1:8000/docker.io/{{ element.image }}"
          # Cas 2: Images avec registry
          - list: "request.object.spec.initContainers || []"
            preconditions:
              all:
                - key: "{{ contains(element.image, '192.168.200.1:8000/') }}"
                  operator: Equals
                  value: false
                - key: "{{ contains(element.image, '/') }}"
                  operator: Equals
                  value: true
            patchStrategicMerge:
              spec:
                initContainers:
                  - (name): "{{ element.name }}"
                    image: "192.168.200.1:8000/{{ element.image }}"
          # =========================
          # Ephemeral Containers
          # =========================
          # Cas 1: Images sans registry
          - list: "request.object.spec.ephemeralContainers || []"
            preconditions:
              all:
                - key: "{{ contains(element.image, '192.168.200.1:8000/') }}"
                  operator: Equals
                  value: false
                - key: "{{ contains(element.image, '/') }}"
                  operator: Equals
                  value: false
            patchStrategicMerge:
              spec:
                ephemeralContainers:
                  - (name): "{{ element.name }}"
                    image: "192.168.200.1:8000/docker.io/{{ element.image }}"
          # Cas 2: Images avec registry
          - list: "request.object.spec.ephemeralContainers || []"
            preconditions:
              all:
                - key: "{{ contains(element.image, '192.168.200.1:8000/') }}"
                  operator: Equals
                  value: false
                - key: "{{ contains(element.image, '/') }}"
                  operator: Equals
                  value: true
            patchStrategicMerge:
              spec:
                ephemeralContainers:
                  - (name): "{{ element.name }}"
                    image: "192.168.200.1:8000/{{ element.image }}"
{% endraw %}
