{% set reg = nfq_proxy_host %}
{% set reg_esc = reg | regex_escape %}

apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: restrict-image-registries
  annotations:
    policies.kyverno.io/title: Restrict Image Registries
    policies.kyverno.io/category: Supply Chain
    pod-policies.kyverno.io/autogen-controllers: "true"
spec:
  background: false
  validationFailureAction: "{{ 'Enforce' if kyverno_enforce | default(false) else 'Audit' }}"
  rules:
    - name: only-through-proxy
      match:
        any:
          - resources:
              kinds: ["Pod"]
      exclude:
        any:
          - resources:
              namespaces: ["kyverno"]
      validate:
        message: >-
          Only images from {{ reg }}/ are allowed. Please use {{ reg }}/<upstream>/<image>:<tag>.
        foreach:
          - list: "request.object.spec.containers || `[]`"
            deny:
              conditions:
                any:
                  - key: "{{ element.image }}"
                    operator: NotMatches
                    value: "^{{ reg_esc }}/.+"
          - list: "request.object.spec.initContainers || `[]`"
            deny:
              conditions:
                any:
                  - key: "{{ element.image }}"
                    operator: NotMatches
                    value: "^{{ reg_esc }}/.+"
          - list: "request.object.spec.ephemeralContainers || `[]`"
            deny:
              conditions:
                any:
                  - key: "{{ element.image }}"
                    operator: NotMatches
                    value: "^{{ reg_esc }}/.+"
